# Build & Dependencies
dist
node_modules

# System Files
.DS_Store
.history

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & IDE Settings
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build / Generated / Tooling
auto-*.d.ts
docs/.vitepress/cache