.example {
  table {
    display: table;
    margin: unset;
    border-collapse: separate;
  }
  tr:nth-child(2n) {
    background-color: var(--el-table-tr-bg-color);
  }
  th,
  td {
    border: unset;
  }

  ul,
  ol {
    padding-left: unset;
  }
}

.vp-table {
  th,
  td {
    max-width: 300px;
    width: 300px;
  }
  tr:nth-child(2n) {
    background-color: unset;
  }
}
